.contact_wrapper svg {
  font-size: 1em;
  vertical-align: middle;
  margin-right: 5px;
}

.contact-form {
  padding-top: 20px;
}

.contact-form button {
  float: right;
  background-color: white;
  color: #050f0b;
}

.contact-form button:hover {
  background-color: #5000ca;
  color: white;
}


.contact-form .MuiInputBase-root {
  color: #000 !important; 
  background-color: white !important;  
  opacity: 1 !important;
}


.contact-form .MuiInputBase-input {
  color: #000 !important; 
  background-color: white !important;
  opacity: 1 !important;
}


.contact-form textarea.MuiInputBase-input {
  color: #000 !important;
  background-color: white !important;
  opacity: 1 !important;
}


.form-flex {
  display: flex;
  gap: 15px;
  padding-bottom: 15px;
}

.form-flex .MuiFormControl-root {
  width: 100%;
}

form {
  width: 100% !important;
}

.body-form {
  width: 100% !important;
  margin-bottom: 15px !important;
}


.contact-form .MuiInputBase-input::placeholder {
  color: rgba(0, 0, 0, 0.6) !important; 
  opacity: 1 !important;
}


.contact-form .MuiInputLabel-root {
  color: #000 !important;
}